<html>

<head>
    <title>Chirper</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body onload="welcome();">

    <h1>Chirper</h1>
    <!--<img src="{{ url_for('static', filename='scenaryImage.jpg') }}" alt="Please Enjoy" class="homepage_image"/>-->

    <br />
    <hr />

    <div class="contents">
        <!-- Post Section -->
        <div class="post">
            <h2>All Posts</h2>
            <div id="post-list">
                <!-- Individual posts will appear here, added dynamically with JavaScript -->
            </div>

            <hr>
            <h2>Create a New Post</h2>
            <div class="post-form">
                <label>
                    Title:
                    <input id="post-title-box" type="text">
                </label>
                <br>
                <label>
                    Description:
                    <textarea id="post-description-box"></textarea>
                </label>
                <br>
                <button id="post-button" onclick="sendPost()">Post</button>
                <input value="{{ xsrfToken }}" id="xsrf-token" hidden>
            </div>
        </div>

        <!-- User Registration and Login Section -->
        <div class="user-list">
            <h2>Register</h2>
            <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:
                    <input id="reg-form-username" type="text" name="username_reg" />
                </label>
                <br />
                <label>Password:&nbsp;
                    <input id="reg-form-pass" type="password" name="password_reg">
                </label>
                <input type="submit" value="Register">
            </form>

            <hr>

            <h2>Login</h2>
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:
                    <input id="login-form-username" type="text" name="username_login" />
                </label>
                <br />
                <label>Password:&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="closeBtn" onclick="closeModal()">&times;</span>
            <p id="errorMsg"></p>
        </div>
    </div>

</body>

</html>
